In [1]:
import pandas as pd

# Example datasets for data merging
# Dataset 1: Pakistani Individuals
data1 = {
    'id': [1, 2, 3],
    'name': ['Kainat', 'Sadia', 'Emaan'],
    'age': [24, 30, 20]
}
df1 = pd.DataFrame(data1)
df1.head()

   id    name  age
0   1  Kainat   24
1   2   Sadia   30
2   3   Emaan   20

In [2]:
data2 = {
    'id': [1, 2, 3],
    'city': ['Karachi', 'Lahore', 'Islamabad'],
    'occupation': ['Engineer', 'Doctor', 'Teacher']
}
df2 = pd.DataFrame(data2)
df2.head()

   id       city occupation
0   1    Karachi   Engineer
1   2     Lahore     Doctor
2   3  Islamabad    Teacher

In [3]:
merged_df = pd.merge(df1, df2, on='id', how='inner')
merged_df.head()

   id    name  age       city occupation
0   1  Kainat   24    Karachi   Engineer
1   2   Sadia   30     Lahore     Doctor
2   3   Emaan   20  Islamabad    Teacher