In [15]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler

In [16]:
df = {
    'age': [25,30,35,40,45],
    'height': [160,170,175,185,190],
    'weight': [55,60,65,70,75]
}

# conver this data to pandas datafram
df = pd.DataFrame(df)
df.head()

   age  height  weight
0   25     160      55
1   30     170      60
2   35     175      65
3   40     185      70
4   45     190      75

In [17]:
scalar = StandardScaler()

# fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df

array([[-1.41421356, -1.4985373 , -1.41421356],
       [-0.70710678, -0.56195149, -0.70710678],
       [ 0.        , -0.09365858,  0.        ],
       [ 0.70710678,  0.84292723,  0.70710678],
       [ 1.41421356,  1.31122014,  1.41421356]])

In [18]:
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

        age    height    weight
0 -1.414214 -1.498537 -1.414214
1 -0.707107 -0.561951 -0.707107
2  0.000000 -0.093659  0.000000
3  0.707107  0.842927  0.707107
4  1.414214  1.311220  1.414214

# MinMax Scalar

In [20]:
scalar = MinMaxScaler()

# fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

    age    height  weight
0  0.00  0.000000    0.00
1  0.25  0.333333    0.25
2  0.50  0.500000    0.50
3  0.75  0.833333    0.75
4  1.00  1.000000    1.00

# Max Abs scalar

In [21]:
# import the scalar
scalar = MaxAbsScaler()

# fit the scalar on data
scaled_df = scalar.fit_transform(df)
scaled_df
# convert this data into a pandas dataframe
scaled_df = pd.DataFrame(scaled_df, columns=df.columns)
scaled_df.head()

        age    height    weight
0  0.555556  0.842105  0.733333
1  0.666667  0.894737  0.800000
2  0.777778  0.921053  0.866667
3  0.888889  0.973684  0.933333
4  1.000000  1.000000  1.000000